<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlashFlood</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-slider/7.1.2/css/bootstrap-slider.min.css">
</head>
<body>

    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FlashFlood</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <h1>Begin Flooding Data</h1>
        <div class="form">
            <div class="form-group">
                <label>Select a Flood Type</label>
                <input id="flood-speed-select"/>
            </div>
            <div class="form-group">
                <label>Flood Speed</label>
                <input id="flood-speed-custom" class="hidden"/>
            </div>
            <div class="form-group">
                <label>Select Capture</label>
                <select id="capture-select" ></select>
            </div>
            <div class="form-group">
                <label>Choose Duration</label>
                <input type="text" id="flood-duration" placeholder="eg. 10 min or one hour" autofocus>
                <div id="computed-duration-container">Flood will run for: <span id="formatted-time"></span></div>
            </div>
            <div class="form-group">
                <div id="flood-status" class="hidden"><span class="indicator">◉</span> <span id="flood-status-text">FlashFlood not yet started</span></div>
                <button type="button" id="flood-button" class="btn btn-primary">Begin Flood</button>
            </div>
        </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap-slider/7.1.2/bootstrap-slider.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>